<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>900M</title>
    <link href="../../static/css/Statistiques.css" rel="stylesheet">
</head>

<header>

    <h1 class="foret"> 900M </h1>


    <div>
        <div class="conteneur-menu">
            <a href="/blog/index" class="BoutonP">Présentation</a>
            <a href="/blog/Cartes" class="BoutonP">Cartes</a>
            <a href="/blog/Statistiques" class="BoutonP">Gestion de données</a>
        </div>
    </div>

</header>
<main>

    <body>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <p>
            Statistiques
        </p>
    </body>
</main>