<!DOCTYPE html>
<html lang="fr">

<div
    style="position: fixed; bottom: 50px; left: 50px; width: 300px; height: 60px; background-color: white; border: 2px solid grey; z-index: 9999; font-size: 14px;">
    <div style="padding: 5px 10px; font-weight: bold;">Indice de végétation</div>
    <div
        style="height: 10px; background: linear-gradient(to right, #ffffff, #ce7e45, #df923d, #f1b555, #fcd163, #99b718, #74a901, #66a000, #529400, #3e8601, #207401, #056201, #004c00, #023b01, #012e01, #011d01, #011301);">
    </div>
    <div style="display: flex; justify-content: space-between; padding: 0 10px;">
        <span>0</span>
        <span>9000</span>
    </div>
</div>